body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 900px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    border: 2px solid black;
}

.square {
    width: 40px; /* 640 / 16*/
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}